# /opt/gpt2giga/.env
GIGACHAT_CREDENTIALS=ваш_authorization_key_из_sber_studio
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_VERIFY_SSL_CERTS=False
GPT2GIGA_PORT=8080
GPT2GIGA_HOST=127.0.0.1
GPT2GIGA_EMBEDDINGS=Embeddings
